body {
    font-family: Arial;
}

.container {
    justify-content: center;
    display: flex;
}

.box {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    text-align: center;
}

circle {
  stroke: black;
  stroke-width: 5px;
  stroke-linejoin: round;
}